.quote_detail {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  width: auto;
  height: auto;
  width: 65vw;
  padding: 10px 20px;
  border-radius: 33px;
  .close_quote_detail {
    display: flex;
    justify-content: space-between;
    .quote_view_logo {
      width: 85%;
      height: auto;
      display: flex;

      justify-content: end;
      align-items: center;

      .logo_view {
        width: 60px;
        height: 60px;
        margin-right: 40%;
      }
    }
    .quote_view_close {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .close_click {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 34px;
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
        background: #b8c2ce;
      }
    }
  }
  .quote_detail_item {
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 23px;
    box-shadow: 0px 0px 6px 2px rgb(202, 210, 214);
    max-height: 700px;
    overflow-y: scroll;
    .quote_detail_0 {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .quote_detail_cate {
        display: flex;
        font-weight: 500;
        color: #032138;
        .quote_detail_status {
          margin-left: 10px;
          font-weight: 500;
          color: #5d7b9c;
        }
      }
      .quote_detail_dateCreate {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .quote_detail_1 {
      padding: 10px 10px 5px 10px;
      border-radius: 13px;
      background-color: #d6e4ee;
      margin-bottom: 10px;
      .detail_meeting_status {
        margin-bottom: 5px;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        color: #032138;
      }
      .detail_meeting_data {
        padding: 0px 30px;
        display: flex;
        .detail_colum_info {
          width: 20%;
          .detail_info_text {
            padding: 5px;
          }
        }
        .detail_colum_value {
          width: 80%;
          .detail_info_text {
            padding: 5px;
          }
        }
      }
      .detail_meeting_update {
        display: flex;
        justify-content: end;
        padding-bottom: 5px;
      }
    }
    .quote_detail_2 {
      padding: 10px 10px 5px 10px;
      border-radius: 13px;
      background-color: #d6e4ee;
      margin-bottom: 10px;
      .detail_user_status {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        color: #032138;
      }
      .quote_detail_info {
        padding: 0px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .quote_detail_user {
          width: 50%;
          border-right: 2px solid #5d7b9c;

          .detail_user_text {
            text-align: center;
            border-bottom: 2px solid #5d7b9c;
            padding-bottom: 5px;
          }
          .detail_user_data {
            padding: 0px 0 0 10px;
            display: flex;
            .detail_colum_info {
              width: 35%;
              .detail_info_text {
                padding: 5px;
              }
            }
            .detail_colum_value {
              width: 65%;
              .detail_info_text {
                padding: 5px;
                color: #0e77cc;
              }
            }
          }
        }
        .quote_detail_staff {
          width: 50%;
          .detail_user_text {
            text-align: center;
            border-bottom: 2px solid #5d7b9c;
            padding-bottom: 5px;
          }
          .detail_user_data {
            color: #f30808;
          }
          .detail_user_data {
            padding: 0px 0 0 10px;
            display: flex;
            .detail_colum_info {
              width: 35%;
              .detail_info_text {
                color: #111010;
                padding: 5px;
              }
            }
            .detail_colum_value {
              width: 65%;
              .detail_info_text {
                padding: 5px;
              }
            }
          }
        }
      }
    }
    .quote_detail_3 {
      padding: 10px 10px 5px 10px;
      border-radius: 13px;
      background-color: #d6e4ee;
      margin-top: 10px;
      .quote_detail_proText {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        color: #032138;
      }
      .quote_detail_product {
        display: flex;
        width: auto;
        padding: 5px 20px;
        .quote_item_productImg {
          box-shadow: 0px 0px 6px 2px rgb(221, 229, 233);
          background-color: #fff;
          width: 80px;
          height: 80px;
          border-radius: 1dvb;
        }
        .quote_item_productName {
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 500;
          color: #032138;
          &:hover {
            scale: 1.02;
            text-decoration: underline;
          }
        }
      }
    }
    .quote_detail_4 {
      margin-top: 10px;
      padding: 10px 10px 5px 10px;
      border-radius: 13px;
      box-shadow: 0px 0px 6px 2px rgb(221, 229, 233);
      .view_contract {
        width: 100%;
        height: 400px;

        .iframe_view {
          width: 100%;
          height: 100%;
          border-radius: 13px;
        }
      }
      .quote_detail_price {
        border-radius: 13px;
        box-shadow: 0px 0px 6px 2px rgb(223, 225, 226);
        margin: 10px 0 20px 0;
        width: fit-content;
        padding: 10px 20px;
        .price_viewer {
          display: flex;
          justify-content: left;
          align-items: center;

          .info_cate {
            font-size: 15px;
            font-weight: 600;
            width: 100px;
          }
          .info_cate2 {
            color: #0d749a;
            font-size: 20px;
            margin-right: 10px;
            font-weight: 600;
            width: fit-content;
          }
          .price_viewer_data1 {
            position: relative;
            margin-right: 30px;
            font-size: 23px;
            font-weight: 600;
            color: #f60a06;
            .price_type {
              position: absolute;
              top: 0;
              right: -25px;
              font-size: 13px;
              font-weight: 600;
            }
          }
          .price_viewer_data {
            position: relative;
            margin-right: 30px;
            font-size: 20px;
            font-weight: 600;
            color: rgb(15, 188, 41);
            .price_type {
              position: absolute;
              top: 0;
              right: -22px;
              font-size: 11px;
              font-weight: 600;
            }
          }
        }
      }
      .quote_detail_proText {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        color: #5d7b9c;
      }
      .quote_detail_contract {
        width: auto;
        padding: 5px 10px;
        display: flex;
        .quote_detail_btn {
          width: auto;
          padding: 28px 20px;
          display: flex;

          .button_PayMent {
            border: 2px solid #0d749a;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #0d749a;
            font-size: 17px;
            font-weight: 600;
            height: 44.2px;
            border-radius: 13px;
            .button_PayMent_img {
              width: 26px;
              height: 25px;
              margin-right: 5px;
            }
          }
          .button_file {
            display: flex;
            border: 2px solid rgb(40, 218, 76);
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: rgb(40, 218, 76);
            font-size: 17px;
            font-weight: 600;
            margin-right: 15px;
            height: 44.2px;
            .button_view_file {
              font-size: 24px;
              margin-right: 5px;
            }
          }
          .button_file_view {
            display: flex;
            border: 2px solid #f60a06;
            border-radius: 13px;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #f60a06;
            font-size: 17px;
            font-weight: 600;
            margin-right: 15px;
            height: 44.2px;
            .button_view_file {
              font-size: 24px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .quote_detail_item::-webkit-scrollbar {
    display: none;
  }
  .quote_detail_item {
    scrollbar-width: none;
  }
}
