.quote_page {
  height: auto;
  padding: 30px 13%;
  display: flex;
  flex-direction: column;
  .quote_view {
    position: relative;
    width: 100%;
    border-radius: 13px;
    min-height: 83vh;
    max-height: 83vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 4px rgb(182, 189, 192);
    margin-bottom: 20px;
    background-color: #f0f5f78c;
    .quote_status {
      position: sticky;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #f0f5f7;
      padding: 5px  20px;
      border-radius: 13px;
      box-shadow: 0px 0px 7px 1px rgb(183, 194, 199);
      z-index: 1000;
      display: flex;

      .MyPurchase-cate{
        font-size: 18px;
        font-weight: 600;
        width: 25%;
        padding: 10px  20px;
        display: flex;
        justify-content: center;
        border-radius: 23px;
        color: #5d7b9c  ;
        &:active{
          .NavLink-text{
            color: #fff;
          }
        }
        
      }
    }
  }
  .quote_view::-webkit-scrollbar {
    display: none;
  }
  .quote_view {
    scrollbar-width: none;
  }
}
